<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <link rel="stylesheet" href="./static/frame.css" />
  <link rel="stylesheet" href="./static/pdf.css" />
  <title>详版报告_迭代版本</title>
</head>

<body>
  <div class="container">
    <div class="static">
      <img src="./static/cover.jpg" alt="">
      <div class="userInfo">
        <ul>
          <li>
            公司：<span th:text="${data.companyName}"></span>
          </li>
          <li>
            姓名：<span th:text="${data.userName}"></span>
          </li>
          <li th:if="${data.workerCodeFlag} == true">
            工号：<span th:text="${data.workerCode}"></span>
          </li>
          <li>
            测试时间：<span th:text="${data.testDate}"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="static">
      <img src="./static/catalog.jpg" alt="">
    </div>
    <div class="static">
      <img src="./static/ReportIntroduction.png" alt="">
    </div>
    <div class="static">
      <img src="./static/suggestion.png" alt="">
    </div>
    <div class="static">
      <img src="./static/dims.jpg" alt="">
    </div>
    <div class="static">
      <img src="./static/scoreSuggestion.png" alt="">
    </div>
    <div class="static">
      <img src="./static/result.jpg" alt="">
      <div class="result-time" th:text="${data.testCostTime}">26:32:28</div>
      <div class="result-time-text result-text">
        <span th:text="${data.testCostTimeInfo}">用时过短</span>：
        <span th:text="${data.testCostTimeDesc}">该受测者测验时长远低于平均用时，受测过程可能受到一定影响</span>
      </div>
      <div class="result-broken-times" th:text="${data.interruptTimes}">2</div>
      <div class="result-broken-text result-text">
        <span th:text="${data.interruptTimesInfo}">中断次数正常</span>：
        <span th:text="${data.interruptTimesDesc}">该手册着在测试过程中的中断次数在正常范围值内，测评结果较为有效</span>
      </div>
      <div class="result-coins" th:text="${data.goldCoinNum}">15,000</div>
      <div class="result-coins-text result-text">
        金币数量多少不对具体指标判断及维度得分产生直接影响
      </div>
    </div>    
    
    <div class="analysis with-title">
      <div class="big-title">
        三、整体作答情况
      </div>
      <div class="score-sitution">
        整体得分情况
      </div>
      <div class="abili-score">
        能力维度得分情况
      </div>
      <div class="abili-container">
        <div class="abili-label">
          <div th:class="abili-dim + (${childStat.index} + 1) + -label" th:each="child:${data.abilityScores}">
            <div 
              class="abili-dim1-label-item"
              th:each="item:${child.scores}"
              th:text="${item.name}"
            >工作记忆</div>
          </div>
        </div>
        <div class="abili-chart">
          <div th:class="abili-dim + (${childStat.index} + 1) + -value" th:each="child:${data.abilityScores}">
            <div
              th:each="item:${child.scores}"
              th:id="d + (${childStat.index} + 1) + c + (${itemStat.index} + 1) + scoreSummary"
              th:class="abili-dim + (${childStat.index} + 1) + -value-item">
            </div>
          </div>
          <div class="abili-chart-divi-2-2"></div>
          <div class="abili-chart-divi-5"></div>
          <div class="abili-chart-divi-7-8"></div>
          <div class="abili-top-score">
            <span class='abili-score-0'>0</span>
            <span class='abili-score-2-2'>2.2</span>
            <span class='abili-score-5'>5</span>
            <span class='abili-score-7-8'>7.8</span>
            <span class='abili-score-10'>10</span>
          </div>
          <div class="abili-bottom-score">
            <span class='abili-score-0'>0</span>
            <span class='abili-score-2-2'>2.2</span>
            <span class='abili-score-5'>5</span>
            <span class='abili-score-7-8'>7.8</span>
            <span class='abili-score-10'>10</span>
          </div>
        </div>
      </div>
      <div class="total-abili-score" th:text="'能力维度总分：' + ${data.abilityScoreTotal}">
        能力维度总分：62
      </div>
      <p class="total-abili-score-description">
        对于7项能力维度，维度得分越高说明受测者该项能力越强。但是单项能力与其他能力和岗位特点之间可能存在着相关性和制约性，某个单项能力维度分数越高，未必与该岗位适配性越高。
      </p>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          06
        </div>
      </div>
    </div>
    <div class="analysis with-title">
      <div class="big-title">
        三、整体作答情况
      </div>
      <div class="score-sitution">
        整体得分情况
      </div>
      <div class="style-score">
        风格维度得分情况
      </div>
      <div class='style-box'>
        <div class="style-chart-label">
          <div th:class="abili-dim + (${childStat.index} + 1) + -label" th:each="child:${data.styleScores}">
            <div 
              class="abili-dim1-label-item"
              th:each="item:${child.scores}"
              th:text="${item.name}"
            >风险偏好</div>
          </div>
        </div>
        <!-- <div class="style-chart-label">
          <div class="style-chart-label-item" th:each="child:${data.styleScores}" th:text="${child.name}">风险偏好</div>
        </div> -->
        <div id="style-echarts">
          <div class="divi5"></div>
          <div class="divi2-2"></div>
          <div class="divi7-8"></div>
          <div class="style-dim-one" th:each="child:${data.styleScores}">
            <div class="style-item" th:each="item:${child.scores}">
              <div class="style-item-left" th:text="${item.leftName}">遵循常规</div>
              <div class="style-item-score style1" th:id="d + (${childStat.index} + 2) + c + (${itemStat.index} + 1) + styleScore"
              th:classappend="style-dim + (${childStat.index} + 1)"
              ></div>
              <div class="style-item-right" th:text="${item.rightName}">认知灵活</div>
            </div>
          </div>
          <div class="style-top-score">
            <span class='style-score-2-2'>2.2</span>
            <span class='style-score-5'>5</span>
            <span class='style-score-7-8'>7.8</span>
          </div>
          <div class="style-bottom-score">
            <span class='style-score-2-2'>2.2</span>
            <span class='style-score-5'>5</span>
            <span class='style-score-7-8'>7.8</span>
          </div>
        </div>
      </div>
      <div class="style-desc-title">
        风格维度评分说明
      </div>
      <p>
        对于9项风格维度，维度得分高低并无好坏之分。
        得分越偏向两极，说明受测者该项风格偏向性越强，即某风格特质类型越典型；得分趋近中间，
        说明受测者该项风格偏向越弱，即其风格类型不典型。需要综合岗位特征以判断其岗位适配性。
      </p>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          07
        </div>
      </div>
    </div>
    <div class="static">
      <img src="./static/dim1.png" alt="">
    </div>
    <div class="analysis ana1">
      <div class="ana-main">
        <div class="dim-ana-box" th:each="child:${data.reportScore1.children}">
          <div class="dim-name">
            <div class="dim-name-left">
              <div class="dim-name-left-cn" th:text="${child.name}">工作记忆</div>
              <div class="dim-name-left-en" th:text="${child.englishName}">Working Memory</div>
            </div>
            <div class="dim-name-right" th:text="${child.description}">对空间信息的加工和操作的能力，同时与个体的其他抽象思维存在着一定的相关性</div>
          </div>
          <div class="dim-score">
            <div class="process">
              <!-- child.score 影响span的宽度 -->
              <span class="score-process" th:id="d1c + (${childStat.index} + 1)"></span>
              <div class="graduation-mark mark-min">
                <div class="mark-top"></div>
                <div class="mark-bottom">2.2</div>
              </div>
              <div class="graduation-mark mark-mid">
                <div class="mark-top red-border"></div>
                <div class="mark-bottom">5</div>
              </div>
              <div class="graduation-mark mark-max">
                <div class="mark-top bulesky-border"></div>
                <div class="mark-bottom">7.8</div>
              </div>
              <div class="graduation-mark mark-start">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom">0</div>
              </div>
              <div class="graduation-mark mark-end">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom">10</div>
              </div>
              <div class="score-box" th:text="${child.score}" th:id="d1c + (${childStat.index} + 1) + score">
                7.6
              </div>
            </div>
          </div>
          <!--  th:action="@{'d1u'+${childStat.index + 1}" -->
          <div class="dim-report" th:text="${child.scoreDescription}">
            收集并处理信息的能力较强，能够比较全方位地分析问题，并且形成解决问题的较为有效的方案方位地分析问题，并且形成解决问题的较为有效的方案
          </div>
        </div>
      </div>
      <!-- 页眉 -->
      <div class="page-header">
        <div class="header-text">
          
        </div>
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          09
        </div>
      </div>
    </div>
    <div class="analysis ana1">
      <div class="ana-main">
        <div class="dim-ana-box" th:each="child:${data.reportScore1.children2}">
          <div class="dim-name">
            <div class="dim-name-left">
              <div class="dim-name-left-cn" th:text="${child.name}"></div>
              <div class="dim-name-left-en" th:text="${child.englishName}"></div>
            </div>
            <div class="dim-name-right" th:text="${child.description}"></div>
          </div>
          <div class="dim-score">
            <div class="process">
              <!-- child.score 影响span的宽度 -->
              <span class="score-process" th:id="d1c + (${childStat.index} + 5)"></span>
              <div class="graduation-mark mark-min">
                <div class="mark-top"></div>
                <div class="mark-bottom">2.2</div>
              </div>
              <div class="graduation-mark mark-mid">
                <div class="mark-top red-border"></div>
                <div class="mark-bottom">5</div>
              </div>
              <div class="graduation-mark mark-max">
                <div class="mark-top bulesky-border"></div>
                <div class="mark-bottom">7.8</div>
              </div>
              <div class="graduation-mark mark-start">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom">0</div>
              </div>
              <div class="graduation-mark mark-end">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom">10</div>
              </div>
              <div class="score-box" th:text="${child.score}" th:id="d1c + (${childStat.index} + 5) + score">
                7.6
              </div>
            </div>
          </div>
          <!--  th:action="@{'d1u'+${childStat.index + 1}" -->
          <div class="dim-report" th:text="${child.scoreDescription}">
            收集并处理信息的能力较强，能够比较全方位地分析问题，并且形成解决问题的较为有效的方案方位地分析问题，并且形成解决问题的较为有效的方案
          </div>
        </div>
      </div>
      <!-- 页眉 -->
      <div class="page-header">
        <div class="header-text">
          
        </div>
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          10
        </div>
      </div>
    </div>
    <div class="static">
      <img src="./static/dim2.png" alt="">
    </div>
    <div class="analysis ana1">
      <div class="ana-main">
        <div class="dim-ana-box" th:each="child:${data.reportScore2.children}">
          <div class="dim-name">
            <div class="dim-name-left">
              <div class="dim-name-left-cn" th:text="${child.name}">工作记忆</div>
              <div class="dim-name-left-en" th:text="${child.englishName}">Working Memory</div>
            </div>
            <div class="dim-name-right" th:text="${child.description}">对空间信息的加工和操作的能力，同时与个体的其他抽象思维存在着一定的相关性</div>
          </div>
          <div class="dim-score">
            <div class="process">
              <!-- child.score 影响span的宽度 -->
              <span class="score-process" th:id="d2c + (${childStat.index} + 1)"></span>
              <div class="graduation-mark mark-min">
                <div class="mark-top"></div>
                <!-- <div class="mark-bottom">2.2</div> -->
              </div>
              <div class="graduation-mark mark-mid">
                <div class="mark-top red-border"></div>
                <!-- <div class="mark-bottom">5</div> -->
              </div>
              <div class="graduation-mark mark-max">
                <div class="mark-top bulesky-border"></div>
                <!-- <div class="mark-bottom">7.8</div> -->
              </div>
              <div class="graduation-mark mark-start">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom" th:text="${child.leftName}">0</div>
              </div>
              <div class="graduation-mark mark-end">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom" th:text="${child.rightName}">10</div>
              </div>
              <div class="score-box" th:text="${child.score}" th:id="d2c + (${childStat.index} + 1) + score">
                7.6
              </div>
            </div>
          </div>
          <!--  th:action="@{'d1u'+${childStat.index + 1}" -->
          <div class="dim-report" th:text="${child.scoreDescription}">
            收集并处理信息的能力较强，能够比较全方位地分析问题，并且形成解决问题的较为有效的方案方位地分析问题，并且形成解决问题的较为有效的方案
          </div>
        </div>
      </div>
      <!-- 页眉 -->
      <div class="page-header">
        <div class="header-text">
          
        </div>
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          12
        </div>
      </div>
    </div>
    <div class="static">
      <img src="./static/dim3.png" alt="">
    </div>
    <div class="analysis ana1">
      <div class="ana-main">
        <div class="dim-ana-box" th:each="child:${data.reportScore3.children}">
          <div class="dim-name">
            <div class="dim-name-left">
              <div class="dim-name-left-cn" th:text="${child.name}">工作记忆</div>
              <div class="dim-name-left-en" th:text="${child.englishName}">Working Memory</div>
            </div>
            <div class="dim-name-right" th:text="${child.description}">对空间信息的加工和操作的能力，同时与个体的其他抽象思维存在着一定的相关性</div>
          </div>
          <div class="dim-score">
            <div class="process">
              <!-- child.score 影响span的宽度 -->
              <span class="score-process" th:id="d3c + (${childStat.index} + 1)"></span>
              <div class="graduation-mark mark-min">
                <div class="mark-top"></div>
                <!-- <div class="mark-bottom">2.2</div> -->
              </div>
              <div class="graduation-mark mark-mid">
                <div class="mark-top red-border"></div>
                <!-- <div class="mark-bottom">5</div> -->
              </div>
              <div class="graduation-mark mark-max">
                <div class="mark-top bulesky-border"></div>
                <!-- <div class="mark-bottom">7.8</div> -->
              </div>
              <div class="graduation-mark mark-start">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom" th:text="${child.leftName}">回避风险型</div>
              </div>
              <div class="graduation-mark mark-end">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom" th:text="${child.rightName}">偏好风险型</div>
              </div>
              <div class="score-box" th:text="${child.score}" th:id="d3c + (${childStat.index} + 1) + score">
                7.6
              </div>
            </div>
          </div>
          <!--  th:action="@{'d1u'+${childStat.index + 1}" -->
          <div class="dim-report" th:text="${child.scoreDescription}">
            收集并处理信息的能力较强，能够比较全方位地分析问题，并且形成解决问题的较为有效的方案方位地分析问题，并且形成解决问题的较为有效的方案
          </div>
        </div>
      </div>
      <!-- 页眉 -->
      <div class="page-header">
        <div class="header-text">
          
        </div>
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          14
        </div>
      </div>
    </div>
    <div class="static">
      <img src="./static/dim4.png" alt="">
    </div>
    <div class="analysis ana1">
      <div class="ana-main">
        <div class="dim-ana-box" th:each="child:${data.reportScore4.children}">
          <div class="dim-name">
            <div class="dim-name-left">
              <div class="dim-name-left-cn" th:text="${child.name}">工作记忆</div>
              <div class="dim-name-left-en" th:text="${child.englishName}">Working Memory</div>
            </div>
            <div class="dim-name-right" th:text="${child.description}">对空间信息的加工和操作的能力，同时与个体的其他抽象思维存在着一定的相关性</div>
          </div>
          <div class="dim-score">
            <div class="process">
              <!-- child.score 影响span的宽度 -->
              <span class="score-process" th:id="d4c + (${childStat.index} + 1)"></span>
              <div class="graduation-mark mark-min">
                <div class="mark-top"></div>
                <!-- <div class="mark-bottom">2.2</div> -->
              </div>
              <div class="graduation-mark mark-mid">
                <div class="mark-top red-border"></div>
                <!-- <div class="mark-bottom">5</div> -->
              </div>
              <div class="graduation-mark mark-max">
                <div class="mark-top bulesky-border"></div>
                <!-- <div class="mark-bottom">7.8</div> -->
              </div>
              <div class="graduation-mark mark-start">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom" th:text="${child.leftName}">0</div>
              </div>
              <div class="graduation-mark mark-end">
                <div class="mark-top transparent"></div>
                <div class="mark-bottom" th:text="${child.rightName}">10</div>
              </div>
              <div class="score-box" th:text="${child.score}" th:id="d4c + (${childStat.index} + 1) + score">
                7.6
              </div>
            </div>
          </div>
          <!--  th:action="@{'d1u'+${childStat.index + 1}" -->
          <div class="dim-report" th:text="${child.scoreDescription}">
            收集并处理信息的能力较强，能够比较全方位地分析问题，并且形成解决问题的较为有效的方案方位地分析问题，并且形成解决问题的较为有效的方案
          </div>
        </div>
      </div>
      <!-- 页眉 -->
      <div class="page-header">
        <div class="header-text">
          
        </div>
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          16
        </div>
      </div>
    </div>
    <!-- 个人发展建议: 认知发展能力 -->
    <!-- with-title 带有大标题 一、维度分数 这种页面 padding-top 相对较小 -->
    <div class="analysis with-title">
      <div class="big-title">
        五、个人发展建议
      </div>
      <div class='module-description'>
        <p>各指标上的测评结果显示， 受测者在以下指标上表现不足。</p>
        <p>根据受测者在各个指标上的表现，可采用以下发展建议对其进行发展：</p>
      </div>
      <div th:each="child:${data.developmentSuggestions}" th:if="${childStat.index} == 0">
        <div class="sug-big-dim" th:text="${child.name} + '   ' + ${child.englishName}">
          发展能力&nbsp;&nbsp;Development Ability
        </div>
        <div class="sug-one-dim" th:each="item:${child.suggestions}" th:if="${itemStat.index} < 2">
          <div class="sug-lil-dim">
            <span th:text="${item.name}">
            </span>&nbsp;&nbsp;
            <span th:text="${item.englishName}">
            </span>
          </div>
          <div class="sugs">
            <div class="sug-item">
              <div class="sug-item-title">自我认知建议</div>
              <p th:utext="${item.selfCognition}">
              </p>
            </div>
            <div class="sug-item">
              <div class="sug-item-title">工作实践建议</div>
              <p th:utext="${item.workPractices}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          17
        </div>
      </div>
    </div>
    <div class="analysis">
      <div th:each="child:${data.developmentSuggestions}" th:if="${childStat.index} == 0">
        <div class="sug-one-dim" th:each="item:${child.suggestions}" th:if="${itemStat.index} > 1 and ${itemStat.index} < 5">
          <div class="sug-lil-dim">
            <span th:text="${item.name}">
            </span>&nbsp;&nbsp;
            <span th:text="${item.englishName}">
            </span>
          </div>
          <div class="sugs">
            <div class="sug-item">
              <div class="sug-item-title">自我认知建议</div>
              <p th:utext="${item.selfCognition}">
              </p>
            </div>
            <div class="sug-item">
              <div class="sug-item-title">工作实践建议</div>
              <p th:utext="${item.workPractices}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          18
        </div>
      </div>
    </div>
    <!-- 个人发展：决策风格 -->
    <div class="analysis">
      <div th:each="child:${data.developmentSuggestions}" th:if="${childStat.index} == 1">
        <div class="sug-big-dim" th:text="${child.name} + '   ' + ${child.englishName}">
          决策风格&nbsp;&nbsp;Decision-making Style
        </div>
        <div class="sug-one-dim" th:each="item:${child.suggestions}" th:if="${itemStat.index} < 2">
          <div class="sug-lil-dim">
            <span th:text="${item.name}">
            </span>&nbsp;&nbsp;
            <span th:text="${item.englishName}">
            </span>
          </div>
          <div class="sugs">
            <div class="sug-item">
              <div class="sug-item-title">自我认知建议</div>
              <p th:utext="${item.selfCognition}">
              </p>
            </div>
            <div class="sug-item">
              <div class="sug-item-title">工作实践建议</div>
              <p th:utext="${item.workPractices}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          19
        </div>
      </div>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
    </div>
    <!-- 个人发展建议: 情绪气质 -->
    <div class="analysis">
      <div th:each="child:${data.developmentSuggestions}" th:if="${childStat.index} == 2">
        <div class="sug-big-dim" th:text="${child.name} + '   ' + ${child.englishName}">
          情绪气质&nbsp;&nbsp;Temperament
        </div>
        <div class="sug-one-dim" th:each="item:${child.suggestions}" th:if="${itemStat.index} < 2">
          <div class="sug-lil-dim">
            <span th:text="${item.name}">
            </span>&nbsp;&nbsp;
            <span th:text="${item.englishName}">
            </span>
          </div>
          <div class="sugs">
            <div class="sug-item">
              <div class="sug-item-title">自我认知建议</div>
              <p th:utext="${item.selfCognition}">
              </p>
            </div>
            <div class="sug-item">
              <div class="sug-item-title">工作实践建议</div>
              <p th:utext="${item.workPractices}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          20
        </div>
      </div>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
    </div>
    <div class="analysis">
      <div th:each="child:${data.developmentSuggestions}" th:if="${childStat.index} == 2">
        <div class="sug-one-dim" th:each="item:${child.suggestions}" th:if="${itemStat.index} > 1 and ${itemStat.index} < 4">
          <div class="sug-lil-dim">
            <span th:text="${item.name}">
            </span>&nbsp;&nbsp;
            <span th:text="${item.englishName}">
            </span>
          </div>
          <div class="sugs">
            <div class="sug-item">
              <div class="sug-item-title">自我认知建议</div>
              <p th:utext="${item.selfCognition}">
              </p>
            </div>
            <div class="sug-item">
              <div class="sug-item-title">工作实践建议</div>
              <p th:utext="${item.workPractices}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          21
        </div>
      </div>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
    </div>
    <!-- 个人发展建议：人际交往 -->
    <div class="analysis">
      <div th:each="child:${data.developmentSuggestions}" th:if="${childStat.index} == 3">
        <div class="sug-big-dim" th:text="${child.name} + '   ' + ${child.englishName}">
          人际交往&nbsp;&nbsp;Interpersonal Communication
        </div>
        <div class="sug-one-dim" th:each="item:${child.suggestions}" th:if="${itemStat.index} < 3">
          <div class="sug-lil-dim">
            <span th:text="${item.name}">
            </span>&nbsp;&nbsp;
            <span th:text="${item.englishName}">
            </span>
          </div>
          <div class="sugs">
            <div class="sug-item">
              <div class="sug-item-title">自我认知建议</div>
              <p th:utext="${item.selfCognition}">
              </p>
            </div>
            <div class="sug-item">
              <div class="sug-item-title">工作实践建议</div>
              <p th:utext="${item.workPractices}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 页脚 -->
      <div class="page-footer">
        <div class="page-footer-left">
          版权所有：杭州扶摇职上教育科技有限公司
        </div>
        <div class="page-footer-right">
          22
        </div>
      </div>
      <div class="page-header">
        <div class="header-img">
          <img src="./static/logo.png" alt="">
        </div>
      </div>
    </div>
    <div class="static">
      <img src="./static/backcover.png" alt="">
    </div>
  </div>
</body>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var S_R1C1 = [[${data.reportScore1.children}]][0].score;
  var S_R1C2 = [[${data.reportScore1.children}]][1].score;
  var S_R1C3 = [[${data.reportScore1.children}]][2].score;
  var S_R1C4 = [[${data.reportScore1.children}]][3].score;
  var S_R1C5 = [[${data.reportScore1.children2}]][0].score;
  var S_R1C6 = [[${data.reportScore1.children2}]][1].score;
  var S_R1C7 = [[${data.reportScore1.children2}]][2].score;
  var S_R2C1 = [[${data.reportScore2.children}]][0].score;
  var S_R2C2 = [[${data.reportScore2.children}]][1].score;
  var S_R3C1 = [[${data.reportScore3.children}]][0].score;
  var S_R3C2 = [[${data.reportScore3.children}]][1].score;
  var S_R3C3 = [[${data.reportScore3.children}]][2].score;
  var S_R3C4 = [[${data.reportScore3.children}]][3].score;
  var S_R4C1 = [[${data.reportScore4.children}]][0].score;
  var S_R4C2 = [[${data.reportScore4.children}]][1].score;
  var S_R4C3 = [[${data.reportScore4.children}]][2].score;
  var abilityDims = [[${data.abilityScores}]]
  var styleDims = [[${data.styleScores}]]
  /*]]>*/
  var abilityDimScores = []
  var styleDimScores = []
  abilityDims.forEach(function(v){
    v.scores.forEach(function(item) {
      abilityDimScores.push(item.score)
    })
  })
  styleDims.forEach(function(v){
    v.scores.forEach(function(item) {
      styleDimScores.push(item.score)
    })
  })
  var dArr = ["d1c1", "d1c2", "d1c3", "d1c4", "d1c5", "d1c6", "d1c7", "d2c1", "d2c2", "d3c1", "d3c2", "d3c3", "d3c4", "d4c1", "d4c2", "d4c3"]
  var abili_dArr = ["d1c1", "d1c2", "d1c3", "d1c4", "d1c5", "d1c6", "d1c7"]
  var style_dArr = ["d2c1", "d2c2", "d3c1", "d3c2", "d3c3", "d3c4", "d4c1", "d4c2", "d4c3"]
  var map = {
    d1c1: S_R1C1,
    d1c2: S_R1C2,
    d1c3: S_R1C3,
    d1c4: S_R1C4,
    d1c5: S_R1C5,
    d1c6: S_R1C6,
    d1c7: S_R1C7,
    d2c1: S_R2C1,
    d2c2: S_R2C2,
    d3c1: S_R3C1,
    d3c2: S_R3C2,
    d3c3: S_R3C3,
    d3c4: S_R3C4,
    d4c1: S_R4C1,
    d4c2: S_R4C2,
    d4c3: S_R4C3,
  }
  var midLine = 299
  var maxWidth = 110 / 2.8 * 5
  var midValue = 5
  abili_dArr.forEach(function(item, idx) {
    document.getElementById(item + "scoreSummary").style.width = (abilityDimScores[idx] * 10) + "%"
  })
  style_dArr.forEach(function(item, idx) {
    var styletest = document.getElementById(item + "styleScore")
    // 如果是3.2分
    var value = styleDimScores[idx]
    var gap = value - midValue
    if (Math.abs(gap) < 0.1) {
      styletest.style.width = "4px"
    } else {
      styletest.style.width = Math.abs(gap) / midValue * maxWidth + 'px'
    }
    var offsetWidth = (function (w) {
      var arr = w.split('')
      arr.pop()
      arr.pop()
      return arr.join('') * 1
    }) (styletest.style.width)

    if (gap !== Math.abs(gap)) {
      styletest.style.left = midLine - offsetWidth - 0 + 'px'
    }
    if (Math.abs(gap) < 0.1) {
      styletest.style.left = midLine - offsetWidth + 4 / 2 + 'px'
      styletest.style.zIndex = 10
    }
  })
  dArr.forEach(function(item) {
    document.getElementById(item).style.width = map[item] * 10 + "%"
    document.getElementById(item + "score").style.left = map[item] * 10 + "%"
  })
</script>

</html>
